body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6fb1fc, #0096ff);
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: #005b99;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
}

button {
    background-color: #004c80;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003a66;
}

/* Seção Ajuda */
#chatbot {
    margin-top: 20px;
}

/* Botão Voltar ao Topo */
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #005b99;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

#topBtn:hover {
    background-color: #004c80;
}